---
import "../styles/global.css";

const SITE_TITLE = "筑波大学現代視覚文化研究会 美少女ゲーム制作班";
const SITE_DESCRIPTION = "こちらは筑波大学公認サークルである現代視覚文化研究会 美少女ゲーム制作班の公式サイトです。";
const SITE_KEYWORDS =
  "筑波大学, 'University of Tsukuba', げんしけん, 現代視覚文化研究会, 美少女ゲーム制作班, 美少女ゲーム, エロゲ, エロゲー, eroge, サークル, philia, 公式サイト, bishojyo, 美少女, びしょげちゃん";
const SITE_OG_IMAGE =
  "https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/og-image.webp";

interface Props {
  title?: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  ogType?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  ogTitle = title,
  ogDescription = description,
  ogImage = SITE_OG_IMAGE,
  ogType = "website",
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <!-- meta settings start -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ff8bd3" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keyword" content={SITE_KEYWORDS} />
    <!-- meta settings end -->
    <!-- clawler settings start -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- clawler settings end -->
    <!-- icon settings start -->
    <link
      rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="/https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/favicon.ico"
      type="image/vnd.microsoft.icon"
      sizes="any"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content={title} />
    <link
      rel="manifest"
      href="/https://raw.githubusercontent.com/tsukuba-GSK-bishoge/homepage/refs/heads/master/public/manifest.json"
    />
    <!-- icon settings end -->
    <!-- OG setting start -->
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:width" content="4160" />
    <meta property="og:image:height" content="2544" />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content="https://bishojo.gsk-tsukuba.net" />
    <!-- OG setting end -->
    <!-- Twitter card settings start -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tsukuba_bishojo" />
    <meta name="twitter:creator" content="@tsukuba_bishojo" />
    <!-- Twitter card settings end -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
